# Accessing Data within Pandas - Lab

## Introduction

In this lab, we'll look at a data set which contains information World cup matches. Let's use the pandas commands learned in the previous lecture to learn more about our data!

## Objectives
You will be able to:
* Understand and explain some key Pandas methods
* Access DataFrame data by using the label
* Perform boolean indexing on both Series and DataFrames
* Use simple selectors for series
* Set new Series and DataFrame inputs

## Load the data

Load the file `WorldCupMatches.csv` as a dataframe in Pandas

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('WorldCupMatches.csv')
df.head()

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA

## Common methods and attributes

Use the correct method to look at the first 7 rows of the data set.

In [3]:
df.head(7)

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,,2549.0,1,0,WARNKEN Alberto (CHI),LANGENUS Jean (BEL),MATEUCCI Francisco (URU),201,1098,ROU,PER
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,,23409.0,0,0,REGO Gilberto (BRA),SAUCEDO Ulises (BOL),RADULESCU Constantin (ROU),201,1085,ARG,FRA
5,1930,16 Jul 1930 - 14:45,Group 1,Parque Central,Montevideo,Chile,3,0,Mexico,,9249.0,1,0,CRISTOPHE Henry (BEL),APHESTEGUY Martin (URU),LANGENUS Jean (BEL),201,1095,CHI,MEX
6,1930,17 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,4,0,Bolivia,,18306.0,0,0,MATEUCCI Francisco (URU),LOMBARDI Domingo (URU),WARNKEN Alberto (CHI),201,1092,YUG,BOL

Look at the last 3 rows of the data set.

In [4]:
#df.tail(3)

Get a concise summary of your data using `.info()`

In [5]:
# df.info()

Obtain a tuple representing the number of rows and number of columns

In [6]:
df.shape

(852, 20)

Use the appropriate attribute to get the column names

In [7]:
col=df.columns
col.strip()

AttributeError: 'Index' object has no attribute 'strip'

## Selecting dataframe information

When looking at the dataframe's `.head()`, you might have noticed that the games are structured chronologically in the dataframe.

Use the right selection method to print all the information from the 3rd to the 5th game.

In [8]:
df.iloc[0:3,:]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,,4444.0,3,0,LOMBARDI Domingo (URU),CRISTOPHE Henry (BEL),REGO Gilberto (BRA),201,1096,FRA,MEX
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,,18346.0,2,0,MACIAS Jose (ARG),MATEUCCI Francisco (URU),WARNKEN Alberto (CHI),201,1090,USA,BEL
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,,24059.0,2,0,TEJADA Anibal (URU),VALLARINO Ricardo (URU),BALWAY Thomas (FRA),201,1093,YUG,BRA

Now, print all the info from game 5-9, but we're only interested to print out the "Home Team Name" and the "Away Team Name",

In [87]:
df.loc[:,["Home Team Name","Away Team Name"]]

     Home Team Name Away Team Name
0            France         Mexico
1               USA        Belgium
2        Yugoslavia         Brazil
3           Romania           Peru
4         Argentina         France
5             Chile         Mexico
6        Yugoslavia        Bolivia
7               USA       Paraguay
8           Uruguay           Peru
9             Chile         France
10        Argentina         Mexico
11           Brazil        Bolivia
12         Paraguay        Belgium
13          Uruguay        Romania
14        Argentina          Chile
15        Argentina            USA
16          Uruguay     Yugoslavia
17          Uruguay      Argentina
18          Austria         France
19          Hungary          Egypt
20      Switzerland    Netherlands
21           Sweden      Argentina
22          Germany        Belgium
23            Spain         Brazil
24            Italy            USA
25   Czechoslovakia        Romania
26   Czechoslovakia    Switzerland
27          Germany         Sweden
28            Italy          Spain
29          Austria        Hungary
..              ...            ...
822          France        Nigeria
823         Germany        Algeria
824          Brazil       Colombia
825          France        Germany
826          Brazil        Germany
827          Brazil    Netherlands
828         Germany      Argentina
829     Netherlands      Argentina
830     Netherlands     Costa Rica
831       Argentina        Belgium
832     Netherlands         Mexico
833      Costa Rica         Greece
834       Argentina    Switzerland
835         Belgium            USA
836          Brazil          Chile
837        Colombia        Uruguay
838     Netherlands         Mexico
839      Costa Rica         Greece
840          France        Nigeria
841         Germany        Algeria
842       Argentina    Switzerland
843         Belgium            USA
844          France        Germany
845          Brazil       Colombia
846       Argentina        Belgium
847     Netherlands     Costa Rica
848          Brazil        Germany
849     Netherlands      Argentina
850          Brazil    Netherlands
851         Germany      Argentina

[852 rows x 2 columns]

Next, we'd like the information on all the games played in Group 3 for the 1950 World Cup.

In [10]:
df.loc[(df["Year"] == 1950) & (df["Stage"]=="Group 3")]

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Win conditions,Attendance,Half-time Home Goals,Half-time Away Goals,Referee,Assistant 1,Assistant 2,RoundID,MatchID,Home Team Initials,Away Team Initials
56,1950,25 Jun 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Sweden,3,2,Italy,,36502.0,2,1,LUTZ Jean (SUI),BERANEK Alois (AUT),TEJADA Carlos (MEX),208,1219,SWE,ITA
61,1950,29 Jun 1950 - 15:30,Group 3,Durival de Brito,Curitiba,Sweden,2,2,Paraguay,,7903.0,2,1,MITCHELL Robert (SCO),LEMESIC Leo (YUG),GARCIA Prudencio (USA),208,1228,SWE,PAR
65,1950,02 Jul 1950 - 15:00,Group 3,Pacaembu,Sao Paulo,Italy,2,0,Paraguay,,25811.0,1,0,ELLIS Arthur (ENG),GARCIA Prudencio (USA),DE LA SALLE Charles (FRA),208,1218,ITA,PAR

Let's repeat the command above, but now we only want to print out the attendance column for the Group 3 games

You can combine conditions like this:

`df[(condition1) | (condition2)]`  -> Returns rows where either condition is true

`df[(condition1) & (condition2)]`  -> Returns rows where both conditions are true

In [11]:
df.loc[(df["Year"] == 1950) & (df["Stage"]=="Group 3"), ["Attendance"]]

    Attendance
56     36502.0
61      7903.0
65     25811.0

Throughout the entire history of the world cup, How many Home games were played by the Netherlands?

In [12]:
x=df.loc[df["Home Team Name"]=="Netherlands"]
print(len(x))

32

How many games were played by the Netherlands in total?

In [37]:
z=df.loc[(df["Home Team Name"]=="Netherlands"), (df["Away Team Name"]=="Netherlands")]
print(len(z))

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match

Next, let's try and figure out how many games the USA played in the 2014 world cup.

In [76]:

USA_games=df.loc[((df["Home Team Name"]=="USA") | (df["Away Team Name"]=="USA")) & (df["Year"]==2014)]

In [77]:
print(len(USA_games))

5

5

Now, let's try to find out how many countries participated in the 1986 world cup.

Hint 1: as a first step, create a new data set that only contain games in that year.

Hint 2: You can use `.unique()` to make sure you don't end up with duplicate country names.

In [1]:
#games_86 = df[df.Year==1986]
#games_86=df.loc[df["Year"]==1986]
games_76=df[df["Year"]==1934]
x=games_76["Home Name Team"]
# df.loc[(df["Year"] == 1950) & (df["Stage"]=="Group 3"), "Attendance"]

NameError: name 'df' is not defined

In the world cup history, how matches had more than 5 goals in total?

## Changing values and creating new columns

With the information you currently have in your `df`, create a new column "Half-time Goals".

Run the code below. You'll notice that for Korea, there are records for both North-Korea (Korea DPR) and South-Korea (Korea Republic).

In [ ]:
df.loc[df["Home Team Name"].str.contains('Korea'), "Home Team Name" ]

Imagine that for some reason, we simply want Korea listed as one entry, so we want to replace every "Home Team Name" and "Away Team Name" entry that contains "Korea" to simply "Korea". In the same way, we want to change the columns "Home Team Initials" and "Away Team Initials" to NSK (North & South Korea) instead of "KOR" and "PRK".

Make sure to verify your answer!

## Summary

In this lab, you learned how to access data within Pandas!